@font-face{
  font-family: SF Wonder Comic;
  src: url('../fonts/SF_Wonder_Comic.ttf');
  font-display: swap;
}
*{
  box-sizing: border-box;
  font-family: SF Wonder Comic, Arial, Helvetica, sans-serif;
  list-style: square;
  padding: 0px;
  margin: 0px;
}
body{
  margin: 0em 1.75em 0em 1.75em;
  background: #222225;
  color: #CCCCC0;
}
ul, ol{
  margin-left: 1em;
}
header{
  border-bottom: 4px solid #CCCCC0;
}
h1, h2, h3, h4, h5, h6{
  margin: .75em 0em .75em 0em;
  line-height: 1.5;
}
p, li{
  margin: .75em 0em .75em 0em;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}
footer{
  margin-bottom: 115px;
}
.wordCount{
  text-align: center;
}
.homeButtonDiv{
  position: fixed;
  left: -5px;
  bottom: 5%;
  transform: translate(-50% -50%);
  display: grid;
}
.homeButtonDiv button{
  padding: 10px 14px 10px 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #CCCCC0;
  transition: all .3s ease-in;
  background: #010050;
  color: #CCCCC0;
  margin-left: -3px;
  outline: none;
}
/*
#disqus_thread{
    border-top: 4px solid #CCCCC0;
    padding-top: 1.75em;
}
*/
.progressBar{
  height: 5px;
  background-color: #CCCCC0;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
}
@media screen and (min-width:720px){
        body{
            margin: 0em 7em 0em 7em;
        }
        ul, ol{
            margin: 0em 2.75em 0em 2.75em;
        }
    }